@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-container {
    background-color: #262626;
    width: 500px;
    height: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 65px;

}

.start-header {
    color: #c6c4b4;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 28px;
    word-spacing: 5px;
}

.start {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #2c5c63;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    width: 200px;
}

.start:hover {
    background-color: #1d3d42;
    box-shadow: none;
}