@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for start menu */
.start-container {
    background-color: #262626;
    width: 500px;
    height: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 45px;
    display: none;
}

.clickables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.start-header {
    color: #c6c4b4;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 28px;
    word-spacing: 5px;
}

.start {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #2c5c63;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    width: 200px;
}

.start:hover {
    background-color: #1d3d42;
    box-shadow: none;
}

a {
    font-family: "Roboto", sans-serif;
    display: block;
    text-decoration: none;
    color: #c6c4b4;
}

/* Styles for game */
.game-container {
    background-color: #262626;
    width: 600px;
    height: 600px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 65px;

    /* display: none; */
}

.button-container {
    display: flex;
    gap: 50px;
}

.game-button {
    font-size: 65px;
    background-color: #c6c4b4;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.game-button:hover {
    background-color: #85847a;
    box-shadow: none;
}

.scoreboard {
    display: flex;
    gap: 40px;
}

.human-score,
.comp-score,
.rounds {
    width: 80px;
    height: 80px;
    background-color: #c6c4b4;
    border-radius: 10px;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    color: #6493a4;
}

.rounds {
    width: 200px;
}

.main-field {
    display: flex;
    gap: 20px;
}

.your-choice,
.comp-choice,
.status {
    width: 100px;
    height: 100px;
    background-color: #c6c4b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    border-radius: 10px;
}

.status {
    width: 200px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #683c1c;
}